.szinezendo_doboz1,
.szinezendo_doboz2,
.szinezendo_doboz3 {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
} 


body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #e68900;
    transform: scale(1.05);
}

.div-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}



.szinezendo_doboz1:hover ,
.szinezendo_doboz2:hover ,
.szinezendo_doboz3:hover {
    transform: scale(1.1);
}
p{
    font-size: 1.5em;
}